<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Dashboard</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/public/forms.css'>
  <script src='main.js'></script>
</head>

<body>
  <h1 id="maintitle">Dashboard</h1>
  <nav>
    <a href="/">> Home page</a>
  </nav>
  <div class="d-board">
    <h2>General access</h2>

    <div class="mynav">
      <a href="/login/dashboard/bookshelf/personal">My bookshelf</a>
    </div>
    <div class="mynav">
      <a href="/login/dashboard/myaccount/myaccount-display">My account</a>
    </div>
    <div class="mynav">
      <a href="/public/secret.html">Secret</a>
    </div>
  </div>
  <div class="d-board">
    <h2>Admin access</h2>

    <div class="mynav">
      <a href="/login/dashboard/adminrights/insertbook/insertbook-display">Insert a book</a>
    </div>
    <div class="mynav">
      <a href="/login/dashboard/adminrights/manageusers/manageusers-display">Manage users</a>
    </div>
    <div class="mynav">
      <a href="/login/dashboard/adminrights/deletebook/deletebook-display">Delete a book</a>
    </div>
  </div>

  <a href="/logout/delete-session">
    <button>Logout</button>
  </a>
  
</body>

</html>