<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Insert a book</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/forms.css'>
    <script src='../server.js'></script>
</head>

<body>
    <h1>Insert a book!</h1>
    <nav>
        <a href="/">> Home page</a>
        <a href="/login/dashboard/dashboard-display">> Dashboard</a>
        <a href="/login/dashboard/bookshelf/personal">> My bookshelf</a>
        <a href="/login/dashboard/adminrights/manageusers/manageusers-display">> Manage users</a>
        <a href="/login/dashboard/adminrights/deletebook/deletebook-display">> Delete a book</a>
      </nav>
    <form action="/login/dashboard/adminrights/insertbook/insertbook-form" method="POST" enctype="multipart/form-data">
        <div class="fieldpack">
            <label for="isbn">ISBN ID of the book:</label><br>
            <input type="text" id="isbn" name="isbn" required><br>
        </div>
        <div class="fieldpack">
            <label for="title">Title of the book:</label><br>
            <input type="text" id="title" name="title" required><br>
        </div>
        <div class="fieldpack">
            <label for="author">Author of the book:</label><br>
            <input type="text" id="author" name="author" required><br>
        </div>
        <div class="fieldpack">
            <label for="year">Year of publication:</label><br>
            <input type="number" id="year" placeholder="YYYY" min="1999" max="2023" name="year" required>
        </div>
        <div class="fieldpack">
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" required><br>
        </div>
        <div class="fieldpack">
            <label for="instance">Number of examples:</label><br>
            <input type="number" id="instance" placeholder="ex.: 1" min="1" name="instance" required>
        </div>
        <div class="fieldpack">
            <label for="picture">Upload a cover for the book:</label><br>
            <input type="file" id="picture" name="picture" required><br>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

</body>

</html>